<!doctype html>
<html lang="pt-BR" ng-app="myApp">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
		
	<title>Rodovias Federais - DRoPE</title>
	
  	<link rel="stylesheet" href="css/app.css"/>
  	
  	<!-- BEGIN: layout specific -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	<script src="js/layout/jquery.min.js"></script>
	<script src="js/layout/config.js"></script>
	<script src="js/layout/skel.min.js"></script>
	<script src="js/layout/skel-panels.min.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/layout/skel-noscript.css" />
		<link rel="stylesheet" href="css/layout/style.css" />
		<link rel="stylesheet" href="css/layout/style-desktop.css" />
	</noscript>
	<!--[if lte IE 9]><link rel="stylesheet" href="css/layout/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><script src="js/layout/html5shiv.js"></script><![endif]-->
  	<!-- END: layout specific -->
  	
  	<!-- BEGIN: layout checkbox specific -->
  	<link rel="stylesheet" href="css/layout_checkbox/checkbox.css" />
  	<!-- END: layout checkbox specific -->
   	
</head>

<body>

	<!-- ********************************************************* -->
		<div id="header-wrapper">
			<div class="container">
				<div class="row">
					<div class="12u">
						
						<header id="header">
							<h1><a href="#" id="logo">DRoPE &nbsp;&ndash;&nbsp; Visão de Ocorrências nas Rodovias Federais</a></h1>
							<nav id="nav">
								<a href="index.html" class="current-page-item">Principal</a>
								<a href="sobre.html" >Sobre</a>
							</nav>
						</header>
					
					</div>
				</div>
			</div>
		</div>
		<div id="main">
			<div class="container">

        <div class="row main-row">
          <div class="1u">&nbsp;</div>
          <div class="11u">
            <section class="right-content">
            <p>O mapa abaixo mostra um ranking de ocorrências de acidentes nas rodovias federais. 
              Permite filtrar os dados de acordo os estados (UF), ano e mês das ocorrências.
              Os municípios com o maior número de ocorrências são representados por círculos maiores.
              É possível interagir com o mapa, obtendo informações do número de ocorrências do município, clicando no círculo sobre o mesmo.
              Também é possível mover o mapa e realizar um zoom. 
            </p>
            </section>
          </div>
        </div>

				<div class="row main-row">

					<div class="1u">
						<section>
							<h2>Filtros</h2>
							<div>
								<div class="row">
									<div class="10u">
										<section>
                    <div ng-controller='ControllerControles'>
                      Estado:<br/>
                      <select ng-model="estado" ng-options="e.sigla for e in estados" ng-change="drawMap(estado.sigla, ano.numero, mes.numero)">
                        <option value="">TODOS</option>
                      </select>
                      <br/><br/>

                      Ano:<br/>
                      <select ng-model="ano" ng-options="a.numero for a in anos" ng-change="drawMap(estado.sigla, ano.numero, mes.numero)">
                        <option value="">TODOS</option>
                      </select>
                      <br/><br/>

                      Mês:<br/>
                      <select ng-model="mes" ng-options="m.nome for m in meses" ng-change="drawMap(estado.sigla, ano.numero, mes.numero)">
                        <option value="">TODOS</option>
                      </select>
                      <br/><br/>

                    </div>
										</section>										
									</div>
								</div>
							</div>
						</section>
					</div>

					<div class="11u skel-cell-mainContent">

						<section class="right-content">
							<div ng-controller='ControllerMapa'>
                <div id="map_canvas" style="width: 810px; height: 600px;"></div>
							</div>
						</section>
					
					</div>
				</div>
			</div>
		</div>
		
		<div id="footer-wrapper">
			<div class="container">
				<div class="row">
					<div class="8u">
					</div>
					<div class="4u">

						<section>
						Trabalho desenvolvido sob a licença <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>
						</section>
						
					</div>
				</div>
				<div class="row">
					<div class="12u">

						<div id="copyright">
							&copy; 2013. Todos os direitos reservados. 
						</div>

					</div>
				</div>
			</div>
		</div>
	<!-- ********************************************************* -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- <script src="lib/angular/angular.js"></script> -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
